<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>O</key>
    <dict>
      <key>O</key>
      <integer>-200</integer>
    </dict>
    <key>uni1202</key>
    <dict>
      <key>uni121A</key>
      <integer>-135</integer>
      <key>uni1265</key>
      <integer>-113</integer>
      <key>uni1275</key>
      <integer>-95</integer>
      <key>uni1285</key>
      <integer>-135</integer>
      <key>uni12D2</key>
      <integer>-135</integer>
      <key>uni12D4</key>
      <integer>-113</integer>
      <key>uni130A</key>
      <integer>-113</integer>
      <key>uni130D</key>
      <integer>-85</integer>
      <key>uni131B</key>
      <integer>-100</integer>
    </dict>
    <key>uni1206</key>
    <dict>
      <key>uni1207</key>
      <integer>-39</integer>
      <key>uni1212</key>
      <integer>-125</integer>
      <key>uni1225</key>
      <integer>-185</integer>
      <key>uni1228</key>
      <integer>-125</integer>
      <key>uni1243</key>
      <integer>-120</integer>
      <key>uni12ED</key>
      <integer>-85</integer>
      <key>uni130B</key>
      <integer>-125</integer>
      <key>uni1348</key>
      <integer>-125</integer>
      <key>uni2D85</key>
      <integer>-85</integer>
      <key>uni2D8B</key>
      <integer>-85</integer>
      <key>uni2D8F</key>
      <integer>-200</integer>
    </dict>
    <key>uni1207</key>
    <dict>
      <key>uni1208</key>
      <integer>-49</integer>
      <key>uni1212</key>
      <integer>-155</integer>
      <key>uni1213</key>
      <integer>-65</integer>
      <key>uni1225</key>
      <integer>-185</integer>
      <key>uni1228</key>
      <integer>-85</integer>
      <key>uni1243</key>
      <integer>-100</integer>
      <key>uni1251</key>
      <integer>-55</integer>
      <key>uni130B</key>
      <integer>-85</integer>
      <key>uni2D8B</key>
      <integer>-85</integer>
      <key>uni2D8F</key>
      <integer>-155</integer>
    </dict>
    <key>uni1208</key>
    <dict>
      <key>uni12B8</key>
      <integer>-113</integer>
      <key>uni12BD</key>
      <integer>-131</integer>
    </dict>
    <key>uni1209</key>
    <dict>
      <key>uni1225</key>
      <integer>-165</integer>
      <key>uni1243</key>
      <integer>-163</integer>
      <key>uni12F0</key>
      <integer>-85</integer>
      <key>uni130B</key>
      <integer>-113</integer>
    </dict>
    <key>uni120A</key>
    <dict>
      <key>uni121A</key>
      <integer>-150</integer>
      <key>uni121B</key>
      <integer>-85</integer>
      <key>uni121E</key>
      <integer>-65</integer>
      <key>uni1233</key>
      <integer>-163</integer>
      <key>uni123D</key>
      <integer>-100</integer>
      <key>uni1240</key>
      <integer>-184</integer>
      <key>uni1245</key>
      <integer>-135</integer>
      <key>uni1251</key>
      <integer>-184</integer>
      <key>uni125A</key>
      <integer>-125</integer>
      <key>uni1265</key>
      <integer>-184</integer>
      <key>uni1275</key>
      <integer>-135</integer>
      <key>uni127D</key>
      <integer>-125</integer>
      <key>uni1285</key>
      <integer>-185</integer>
      <key>uni1293</key>
      <integer>-185</integer>
      <key>uni1295</key>
      <integer>-185</integer>
      <key>uni1296</key>
      <integer>-245</integer>
      <key>uni12B8</key>
      <integer>-213</integer>
      <key>uni12B9</key>
      <integer>-250</integer>
      <key>uni12BA</key>
      <integer>-250</integer>
      <key>uni12BB</key>
      <integer>-250</integer>
      <key>uni12BD</key>
      <integer>-213</integer>
      <key>uni12BE</key>
      <integer>-219</integer>
      <key>uni12D2</key>
      <integer>-250</integer>
      <key>uni12D4</key>
      <integer>-250</integer>
      <key>uni1308</key>
      <integer>-150</integer>
      <key>uni130A</key>
      <integer>-113</integer>
      <key>uni130D</key>
      <integer>-170</integer>
      <key>uni132D</key>
      <integer>-125</integer>
      <key>uni134B</key>
      <integer>-85</integer>
    </dict>
    <key>uni120C</key>
    <dict>
      <key>uni123D</key>
      <integer>-150</integer>
      <key>uni1295</key>
      <integer>-85</integer>
      <key>uni12B8</key>
      <integer>-150</integer>
      <key>uni12B9</key>
      <integer>-85</integer>
      <key>uni12BA</key>
      <integer>-200</integer>
      <key>uni12BB</key>
      <integer>-219</integer>
      <key>uni12BD</key>
      <integer>-150</integer>
      <key>uni12BE</key>
      <integer>-85</integer>
      <key>uni12D2</key>
      <integer>-125</integer>
      <key>uni12D4</key>
      <integer>-125</integer>
      <key>uni130D</key>
      <integer>-65</integer>
    </dict>
    <key>uni120D</key>
    <dict>
      <key>uni121A</key>
      <integer>-113</integer>
      <key>uni121B</key>
      <integer>-125</integer>
      <key>uni123D</key>
      <integer>-85</integer>
      <key>uni1285</key>
      <integer>-119</integer>
      <key>uni1295</key>
      <integer>-156</integer>
      <key>uni12B8</key>
      <integer>-185</integer>
      <key>uni12B9</key>
      <integer>-185</integer>
      <key>uni12BA</key>
      <integer>-185</integer>
      <key>uni12BB</key>
      <integer>-185</integer>
      <key>uni12BD</key>
      <integer>-185</integer>
      <key>uni12BE</key>
      <integer>-185</integer>
      <key>uni12D2</key>
      <integer>-125</integer>
      <key>uni12D4</key>
      <integer>-85</integer>
      <key>uni12E9</key>
      <integer>-85</integer>
      <key>uni1308</key>
      <integer>-85</integer>
      <key>uni130A</key>
      <integer>-113</integer>
      <key>uni130D</key>
      <integer>-85</integer>
    </dict>
    <key>uni1212</key>
    <dict>
      <key>uni1202</key>
      <integer>-125</integer>
      <key>uni121E</key>
      <integer>-150</integer>
      <key>uni1233</key>
      <integer>-85</integer>
      <key>uni123D</key>
      <integer>-155</integer>
      <key>uni1285</key>
      <integer>-125</integer>
      <key>uni1293</key>
      <integer>-155</integer>
      <key>uni1295</key>
      <integer>-150</integer>
      <key>uni1296</key>
      <integer>-165</integer>
      <key>uni12B8</key>
      <integer>-185</integer>
      <key>uni12B9</key>
      <integer>-185</integer>
      <key>uni12BA</key>
      <integer>-185</integer>
      <key>uni12BB</key>
      <integer>-250</integer>
      <key>uni12BD</key>
      <integer>-185</integer>
      <key>uni12BE</key>
      <integer>-185</integer>
      <key>uni12D2</key>
      <integer>-150</integer>
      <key>uni12D4</key>
      <integer>-150</integer>
      <key>uni1308</key>
      <integer>-150</integer>
      <key>uni130A</key>
      <integer>-160</integer>
      <key>uni130D</key>
      <integer>-155</integer>
      <key>uni134B</key>
      <integer>-150</integer>
    </dict>
    <key>uni1218</key>
    <dict>
      <key>uni1212</key>
      <integer>-125</integer>
      <key>uni1225</key>
      <integer>-144</integer>
      <key>uni1228</key>
      <integer>-82</integer>
      <key>uni1243</key>
      <integer>-125</integer>
      <key>uni1295</key>
      <integer>-85</integer>
      <key>uni12F5</key>
      <integer>-85</integer>
      <key>uni130B</key>
      <integer>-163</integer>
    </dict>
    <key>uni121A</key>
    <dict>
      <key>uni1275</key>
      <integer>-113</integer>
      <key>uni12DB</key>
      <integer>-85</integer>
    </dict>
    <key>uni121B</key>
    <dict>
      <key>uni120D</key>
      <integer>-25</integer>
      <key>uni1225</key>
      <integer>-155</integer>
    </dict>
    <key>uni121C</key>
    <dict>
      <key>uni1295</key>
      <integer>-85</integer>
    </dict>
    <key>uni121D</key>
    <dict>
      <key>uni1208</key>
      <integer>-57</integer>
      <key>uni120D</key>
      <integer>-85</integer>
      <key>uni1212</key>
      <integer>-250</integer>
      <key>uni1213</key>
      <integer>-156</integer>
      <key>uni1225</key>
      <integer>-213</integer>
      <key>uni1228</key>
      <integer>-184</integer>
      <key>uni122A</key>
      <integer>-135</integer>
      <key>uni122B</key>
      <integer>-185</integer>
      <key>uni1243</key>
      <integer>-125</integer>
      <key>uni1273</key>
      <integer>-143</integer>
      <key>uni12EB</key>
      <integer>-127</integer>
      <key>uni12F0</key>
      <integer>-85</integer>
      <key>uni12F5</key>
      <integer>-85</integer>
      <key>uni12F6</key>
      <integer>-100</integer>
      <key>uni130B</key>
      <integer>-185</integer>
      <key>uni1320</key>
      <integer>-113</integer>
      <key>uni1348</key>
      <integer>-180</integer>
      <key>uni2D85</key>
      <integer>-85</integer>
      <key>uni2D8B</key>
      <integer>-65</integer>
      <key>uni2D8F</key>
      <integer>-185</integer>
    </dict>
    <key>uni121E</key>
    <dict>
      <key>uni1273</key>
      <integer>-100</integer>
    </dict>
    <key>uni1224</key>
    <dict>
      <key>uni12D4</key>
      <integer>-160</integer>
    </dict>
    <key>uni1225</key>
    <dict>
      <key>uni1218</key>
      <integer>-50</integer>
      <key>uni1228</key>
      <integer>-168</integer>
      <key>uni122B</key>
      <integer>-133</integer>
      <key>uni130B</key>
      <integer>-150</integer>
      <key>uni1322</key>
      <integer>-67</integer>
      <key>uni1348</key>
      <integer>-146</integer>
    </dict>
    <key>uni1228</key>
    <dict>
      <key>uni1203</key>
      <integer>-25</integer>
      <key>uni1218</key>
      <integer>-44</integer>
    </dict>
    <key>uni1229</key>
    <dict>
      <key>uni130A</key>
      <integer>-67</integer>
    </dict>
    <key>uni122B</key>
    <dict>
      <key>uni1295</key>
      <integer>-113</integer>
      <key>uni12BD</key>
      <integer>-167</integer>
      <key>uni12ED</key>
      <integer>-85</integer>
    </dict>
    <key>uni1232</key>
    <dict>
      <key>uni1245</key>
      <integer>-11</integer>
      <key>uni1275</key>
      <integer>-11</integer>
      <key>uni1293</key>
      <integer>-135</integer>
      <key>uni12B9</key>
      <integer>-200</integer>
      <key>uni12D2</key>
      <integer>-21</integer>
      <key>uni12D4</key>
      <integer>-23</integer>
      <key>uni1325</key>
      <integer>-11</integer>
      <key>uni134D</key>
      <integer>-11</integer>
    </dict>
    <key>uni1238</key>
    <dict>
      <key>uni1218</key>
      <integer>-113</integer>
    </dict>
    <key>uni123A</key>
    <dict>
      <key>uni1245</key>
      <integer>-85</integer>
      <key>uni1275</key>
      <integer>-113</integer>
      <key>uni1293</key>
      <integer>-113</integer>
      <key>uni12D2</key>
      <integer>-167</integer>
      <key>uni1325</key>
      <integer>-113</integer>
      <key>uni134D</key>
      <integer>-113</integer>
    </dict>
    <key>uni1240</key>
    <dict>
      <key>uni1228</key>
      <integer>-85</integer>
    </dict>
    <key>uni1243</key>
    <dict>
      <key>uni12EB</key>
      <integer>-125</integer>
    </dict>
    <key>uni125A</key>
    <dict>
      <key>uni12B9</key>
      <integer>-107</integer>
    </dict>
    <key>uni1261</key>
    <dict>
      <key>uni1243</key>
      <integer>-150</integer>
    </dict>
    <key>uni1262</key>
    <dict>
      <key>uni1270</key>
      <integer>-113</integer>
      <key>uni1271</key>
      <integer>-113</integer>
      <key>uni1272</key>
      <integer>-113</integer>
      <key>uni1274</key>
      <integer>-113</integer>
      <key>uni1275</key>
      <integer>-184</integer>
      <key>uni1276</key>
      <integer>-113</integer>
      <key>uni12D2</key>
      <integer>-227</integer>
      <key>uni1325</key>
      <integer>-113</integer>
      <key>uni134D</key>
      <integer>-113</integer>
    </dict>
    <key>uni1264</key>
    <dict>
      <key>uni1275</key>
      <integer>-85</integer>
      <key>uni12D4</key>
      <integer>-140</integer>
    </dict>
    <key>uni126A</key>
    <dict>
      <key>uni1245</key>
      <integer>-113</integer>
      <key>uni1275</key>
      <integer>-113</integer>
      <key>uni1293</key>
      <integer>-113</integer>
      <key>uni1325</key>
      <integer>-113</integer>
    </dict>
    <key>uni1273</key>
    <dict>
      <key>uni1225</key>
      <integer>-114</integer>
      <key>uni12A1</key>
      <integer>-40</integer>
      <key>uni12F0</key>
      <integer>-73</integer>
    </dict>
    <key>uni1275</key>
    <dict>
      <key>uni12B9</key>
      <integer>-127</integer>
    </dict>
    <key>uni1287.alt3</key>
    <dict>
      <key>uni2D8F</key>
      <integer>-59</integer>
    </dict>
    <key>uni128B</key>
    <dict>
      <key>uni120B</key>
      <integer>-25</integer>
    </dict>
    <key>uni1292</key>
    <dict>
      <key>uni123B</key>
      <integer>-85</integer>
      <key>uni1275</key>
      <integer>-85</integer>
    </dict>
    <key>uni1293</key>
    <dict>
      <key>uni12A2</key>
      <integer>-27</integer>
    </dict>
    <key>uni1295</key>
    <dict>
      <key>uni122B</key>
      <integer>-33</integer>
      <key>uni12A1</key>
      <integer>-47</integer>
    </dict>
    <key>uni1296</key>
    <dict>
      <key>uni120A</key>
      <integer>-106</integer>
      <key>uni12A2</key>
      <integer>-36</integer>
    </dict>
    <key>uni129B</key>
    <dict>
      <key>uni1273</key>
      <integer>-113</integer>
    </dict>
    <key>uni12A1</key>
    <dict>
      <key>uni1295</key>
      <integer>-160</integer>
      <key>uni12B8</key>
      <integer>-200</integer>
      <key>uni12BB</key>
      <integer>-200</integer>
      <key>uni12BD</key>
      <integer>-213</integer>
    </dict>
    <key>uni12A2</key>
    <dict>
      <key>uni1293</key>
      <integer>-187</integer>
      <key>uni1296</key>
      <integer>-187</integer>
      <key>uni12B8</key>
      <integer>-193</integer>
      <key>uni12B9</key>
      <integer>-180</integer>
      <key>uni12BD</key>
      <integer>-213</integer>
      <key>uni12BE</key>
      <integer>-220</integer>
      <key>uni12D2</key>
      <integer>-247</integer>
      <key>uni12D4</key>
      <integer>-247</integer>
    </dict>
    <key>uni12A3</key>
    <dict>
      <key>uni12B8</key>
      <integer>-173</integer>
      <key>uni12B9</key>
      <integer>-153</integer>
      <key>uni12BA</key>
      <integer>-147</integer>
      <key>uni12BB</key>
      <integer>-200</integer>
      <key>uni12BD</key>
      <integer>-187</integer>
      <key>uni12BE</key>
      <integer>-147</integer>
    </dict>
    <key>uni12A5</key>
    <dict>
      <key>uni123D</key>
      <integer>-153</integer>
      <key>uni1295</key>
      <integer>-85</integer>
      <key>uni12BD</key>
      <integer>-173</integer>
      <key>uni130D</key>
      <integer>-124</integer>
    </dict>
    <key>uni12A9</key>
    <dict>
      <key>uni12B9</key>
      <integer>-150</integer>
    </dict>
    <key>uni12AA</key>
    <dict>
      <key>uni1270</key>
      <integer>-113</integer>
      <key>uni1271</key>
      <integer>-113</integer>
      <key>uni1272</key>
      <integer>-113</integer>
      <key>uni1274</key>
      <integer>-113</integer>
      <key>uni1275</key>
      <integer>-113</integer>
      <key>uni1276</key>
      <integer>-113</integer>
      <key>uni127D</key>
      <integer>-113</integer>
      <key>uni1293</key>
      <integer>-135</integer>
      <key>uni1295</key>
      <integer>-160</integer>
      <key>uni12CA</key>
      <integer>-113</integer>
      <key>uni1325</key>
      <integer>-113</integer>
      <key>uni132D</key>
      <integer>-135</integer>
    </dict>
    <key>uni12B9</key>
    <dict>
      <key>uni12A2</key>
      <integer>-33</integer>
      <key>uni12A3</key>
      <integer>-26</integer>
      <key>uni12F0</key>
      <integer>-113</integer>
    </dict>
    <key>uni12BA</key>
    <dict>
      <key>uni1275</key>
      <integer>-113</integer>
    </dict>
    <key>uni12BE</key>
    <dict>
      <key>uni12A2</key>
      <integer>-20</integer>
    </dict>
    <key>uni12C9</key>
    <dict>
      <key>uni1295</key>
      <integer>-143</integer>
      <key>uni12BB</key>
      <integer>-146</integer>
    </dict>
    <key>uni12CB</key>
    <dict>
      <key>uni12EB</key>
      <integer>-85</integer>
    </dict>
    <key>uni12CD</key>
    <dict>
      <key>uni1243</key>
      <integer>-94</integer>
      <key>uni12EB</key>
      <integer>-107</integer>
    </dict>
    <key>uni12D2</key>
    <dict>
      <key>uni123D</key>
      <integer>-106</integer>
    </dict>
    <key>uni12DA</key>
    <dict>
      <key>uni12B8</key>
      <integer>-150</integer>
    </dict>
    <key>uni12E8</key>
    <dict>
      <key>uni1348</key>
      <integer>-120</integer>
    </dict>
    <key>uni12EB</key>
    <dict>
      <key>uni12F6</key>
      <integer>-93</integer>
    </dict>
    <key>uni12F0</key>
    <dict>
      <key>uni1275</key>
      <integer>-85</integer>
    </dict>
    <key>uni12F5</key>
    <dict>
      <key>uni1212</key>
      <integer>-163</integer>
    </dict>
    <key>uni1309</key>
    <dict>
      <key>uni1225</key>
      <integer>-85</integer>
    </dict>
    <key>uni130A</key>
    <dict>
      <key>uni1229</key>
      <integer>-113</integer>
      <key>uni1275</key>
      <integer>-113</integer>
      <key>uni12D2</key>
      <integer>-207</integer>
    </dict>
    <key>uni130B</key>
    <dict>
      <key>uni121D</key>
      <integer>31</integer>
      <key>uni1225</key>
      <integer>-73</integer>
    </dict>
    <key>uni1322</key>
    <dict>
      <key>uni1275</key>
      <integer>-113</integer>
      <key>uni1295</key>
      <integer>-180</integer>
      <key>uni12D2</key>
      <integer>-245</integer>
      <key>uni134B</key>
      <integer>-205</integer>
    </dict>
    <key>uni1328</key>
    <dict>
      <key>uni1252</key>
      <integer>-47</integer>
    </dict>
    <key>uni132A</key>
    <dict>
      <key>uni1275</key>
      <integer>-113</integer>
    </dict>
    <key>uni133D</key>
    <dict>
      <key>uni1213</key>
      <integer>-143</integer>
    </dict>
    <key>uni1348</key>
    <dict>
      <key>uni121E</key>
      <integer>-93</integer>
    </dict>
    <key>uni1356</key>
    <dict>
      <key>uni1228</key>
      <integer>-193</integer>
      <key>uni1328</key>
      <integer>-143</integer>
    </dict>
    <key>uni2D84</key>
    <dict>
      <key>uni1247</key>
      <integer>-39</integer>
    </dict>
    <key>uniAB02</key>
    <dict>
      <key>uni12B9</key>
      <integer>-200</integer>
      <key>uni12D2</key>
      <integer>-213</integer>
      <key>uni12D4</key>
      <integer>-233</integer>
    </dict>
    <key>uniAB04</key>
    <dict>
      <key>uni12D4</key>
      <integer>-160</integer>
    </dict>
    <key>uniAB12</key>
    <dict>
      <key>uni12B8</key>
      <integer>-150</integer>
    </dict>
  </dict>
</plist>
