
@font-face {
  font-family: 'Inku-Regular';
  src: url('Inku-Regular.eot?#iefix') format('embedded-opentype'),  url('Inku-Regular.woff') format('woff'), url('Inku-Regular.ttf')  format('truetype'), url('Inku-Regular.svg#Inku-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
